<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pdf Demo</title>
    <link rel="stylesheet" th:href="@{/css/table.css}">
</head>
<body>
<h1>
    The list of actual meteo alerts
</h1>

<div class="divTable redTable">
    <div class="divTableHeading">
        <div class="divTableRow">
            <div class="divTableHead">Today alerts</div>
        </div>
    </div>
    <div class="divTableBody" th:each="alert: ${listOfAlerts}">
        <div class="divTableRow">
            <div class="divTableCell" th:text="${alert.number}">cell1_1</div>
        </div>
    </div>
</div>

</body>
</html>